<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" NAME="ROBOTS" CONTENT="NOARCHIVE" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
    body {
        padding-top: 2rem;
    }

    input[type=checkbox] {
        height: 30px;
        width: 30px;
    }

    input[type=radio] {
        height: 30px;
        width: 30px;
    }

    label {
        font-size: 30px;
    }

    h2 {
        font-size: 45px;
        font-weight:bold;
    }

    h4 {
        font-size: 30px;
        font-weight:bold;
    }

    h5 {
        font-size: 30px;
    }

    .warn{
        color: red;
    }
    </style>
    <title></title>
</head>
<body>
    <form id="form" @submit.prevent="sendData">
    <div class="container">
        <div>
            <div class="row">
                <div v-for="question in part1.questions" :class="question.class">
                    <input-text v-if="question.type=='text'" :title="question.title" v-model="question.value"></input-text>
                </div>
            </div>
        </div>

        <div>
            {{isForest}}
            <div class="row">
                <h2>{{part2.head}}</h2>
            </div>
            <hr class="mb-4">
            <p v-if="BMI">BMI : {{BMI}}</p>
            <div class="row">
                <div v-for="question in part2.questions" :class="question.class">
                    <input-text v-if="question.type=='text'" :title="question.title" v-model="question.value"></input-text>
                    <input-select v-if="question.type=='select'" :title="question.title" v-model="question.value" :options="question.options"></input-select>
                    <div v-if="question.type=='radio'">
                        <h4>{{question.title}}</h4>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6"><label><input type="radio" :name="question.name" :value="option" v-model="question.value" required="">{{option}}</label></div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value=='其他'">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>

        <div>
            {{everSchool}}
            <div class="row">
                <h2>{{part3.head}}</h2>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div v-for="question in part3.questions" :class="question.class">
                    <input-text v-if="question.type=='text'" :title="question.title" v-model="question.value"></input-text>
                    <input-select v-if="question.type=='select'" :title="question.title" v-model="question.value" :options="question.options"></input-select>
                    <div v-if="question.type=='radio'">
                        <h4>{{question.title}}</h4>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6"><label><input type="radio" :name="question.name" :value="option" v-model="question.value" required="">{{option}}</label></div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value=='其他'">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <h2>{{part4.head}}</h2>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div v-for="(question,index) in part4.questions" :class="question.class">
                    <div v-if="question.type=='checkbox'">
                        <h4>{{question.title}}</h4>
                        <div v-if="question.value.length==0 && remind == 1" >
                            <span class="warn">請勾選其中一個選項</span>
                            <input type="text" name="" ref="content" style="opacity:0">
                        </div>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6">
                                    <label>
                                        <input type="checkbox" :disabled="question.disabled && option!='無'" :value="option" v-model="question.value" @click="checkOption($event, index,question)">{{option}}
                                    </label>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value=='其他'">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <h2>{{part5.head}}</h2>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div v-for="(question,index) in part5.questions" :class="question.class">
                    <div v-if="question.type=='checkbox'">
                        <h4>{{question.title}}</h4>
                        <div v-if="question.value.length==0 && remind == 1" >
                            <span class="warn">請勾選其中一個選項</span>
                            <input type="text" name="" ref="content" style="opacity:0">
                        </div>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6">
                                    <label>
                                        <input type="checkbox" :disabled="question.disabled && option!='無'" :value="option" v-model="question.value" @click="checkOption($event, index, question)">{{option}}
                                    </label>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value=='其他'">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="row">
                <h2>{{part6.head}}</h2>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div v-for="question in part6.questions" :class="question.class">
                    <input-text v-if="question.type=='text'" :title="question.title" v-model="question.value" :tip="question.tip"></input-text>
                    <input-select v-if="question.type=='select'" :title="question.title" v-model="question.value" :options="question.options"></input-select>
                    <div v-if="question.type=='radio'">
                        <h4>{{question.title}}</h4>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6"><label><input type="radio" :name="question.name" :value="option" v-model="question.value" required="">{{option}}</label></div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value=='其他'">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>

        <div id="question_7">
            {{ageUnder1}}
            {{healStatus}}
            {{healPlace}}
            <div class="row">
                <h2>{{part7.head}}</h2>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div v-for="question in part7.questions" :class="question.class">
                    <input-text v-if="question.type=='text'" :title="question.title" v-model="question.value"></input-text>
                    <input-select v-if="question.type=='select'" :title="question.title" v-model="question.value" :options="question.options"></input-select>
                    <div v-if="question.type=='radio'">
                        <h4>{{question.title}}</h4>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6"><label><input type="radio" :name="question.name" :value="option" v-model="question.value" required="">{{option}}</label></div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.type=='checkbox'">
                        <h4>{{question.title}}</h4>
                        <div v-if="question.value.length==0 && remind == 1" >
                            <span class="warn">請勾選其中一個選項</span>
                            <input type="text" name="" ref="content" style="opacity:0">
                        </div>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6">
                                    <label>
                                        <input type="checkbox" :disabled="question.disabled && option!='無'" :value="option" v-model="question.value">{{option}}
                                    </label>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value.includes('其他')">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>
        <div id="question_8">
            <div class="row">
                <h2>{{part8.head}}</h2>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div v-for="(question,index) in part8.questions" :class="question.class">
                    <input-text v-if="question.type=='text'" :title="question.title" v-model="question.value" :tip="question.tip"></input-text>
                    <input-select v-if="question.type=='select'" :title="question.title" v-model="question.value" :options="question.options"></input-select>
                    <div v-if="question.type=='radio'">
                        <h4>{{question.title}}</h4>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6"><label><input type="radio" :name="question.name" :value="option" v-model="question.value" required="">{{option}}</label></div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.type=='checkbox'">
                        <h4>{{question.title}}</h4>
                        <div v-if="question.value.length==0 && remind == 1" >
                            <span class="warn">請勾選其中一個選項</span>
                            <input type="text" name="" ref="content" style="opacity:0">
                        </div>
                        <div class="row">
                            <template v-for="option in question.options">
                                <div class="col-md-4 mb-6">
                                    <label>
                                        <input type="checkbox" :disabled="question.disabled && option!='無'" :value="option" v-model="question.value" @click="checkOption($event, index, question)">{{option}}
                                    </label>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div v-if="question.value.includes('其他')">
                        <input-other :title="question.title" v-model="question.other_value"></input-other>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <input id="submit" type="submit" class="btn btn-primary btn-lg btn-block" value="送出">
        <br>
    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="../../js/basicQuestion.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../vendor/jquery-confirm-v3.3.4/jquery-confirm.min.css">
    <script src="../../vendor/jquery-confirm-v3.3.4/jquery-confirm.min.js"></script>
</body>

</html>